@import '~bootstrap/dist/css/bootstrap.min.css';


.navbar {
  background-color :transparent;
  font-size: 2rem;
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}
